source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, netstandard2.0, netstandard2.1
nuget FSharp.Core
nuget TiraxTech.Uri

gist ruxo/aaa630796ee3e60881cede10ff7024de TiraxTech.Http.fs